<div class="container">

    <form class="d-flex mt-5" role="search" action="/superadmin/dashboard" method="GET">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search"
            value="{{searchValue}}" />
        <button class="btn btn-outline-light bg-primary" type="submit">
            Search
        </button>
    </form>

    <h2 class="my-4">Superadmin Dashboard - All Users</h2>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.password}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.course}}</td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">No users found in database.</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="d-grid gap-2 mt-4 mb-4">
        <a href="/superadmin/logout" class="btn btn-primary rounded-pill">
            Logout
        </a>
    </div>
</div>